@charset "UTF-8";

/* ページ全体の設定 */
body{
    font-family:sans-serif;
    background:#dceeff;
    margin:40px;
}

/* メインタイトル */
h1{
    text-align:center;
    color:#4a90e2;
    font-size:55px;
}

/* セクション見出し */
h2{
    color:#3366cc;
}

/* カード共通デザイン */
.card{
    background: white;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

/* カード内の見出し */
.card h2{

    border-bottom:2px dashed #99c8ff;

    padding-bottom:15px;

    margin-bottom:30px;

}

/* 登録ボタン */
input[type=submit]{

    background:#4a90e2;
    color:white;

    border:none;

    border-radius:8px;

    padding:8px 16px;

    font-size:15px;
}

input[type=submit]:hover{

    background:#357abd;
}

/* メインコンテナ */
.container{
    width: 900px;
    margin: 30px auto;
}

/* 横並びレイアウト */
.row{
    display:flex;
    align-items:center;
    margin-bottom:25px;
}

/* 入力項目のラベル */
.row label{
    width:130px;
	font-size: 20px;
    font-weight:bold;
}

/* 入力欄の共通デザイン */
.row input,
.row select,
.row textarea{
    flex:1;
	font-size: 18px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

/* サブタイトル */
.subtitle{
    text-align:center;
    color:#666;
    font-size:18px;
    margin-top:-15px;
    margin-bottom:40px;
}

/* 入力欄の文字サイズ */
input,
select,
textarea{

    font-size:16px;

}

/* ラジオボタンのレイアウト */
.radio-group{
    display:flex;
    gap:30px;
    flex:1;
}

.radio-group label{
    width:auto;
    font-weight:normal;
}

/* 登録ボタンの配置 */
.button-area{
    text-align:center;
    margin-top:40px;
}

/* 登録ボタンのサイズ・デザイン */
.button-area input{

    width:240px;
    height:55px;

    font-size:20px;
    font-weight:bold;

    background:#4a90e2;
    color:white;

    border:none;
    border-radius:12px;

    cursor:pointer;

    transition:0.3s;
}

.button-area input:hover{
    background:#357abd;
}

/* 履歴の日付 */
.history-date{

    color:#666;

    margin-bottom:15px;
	
	font-size:20px;

}

/* 履歴の種類 */
.history-type{

    font-size:26px;

    font-weight:bold;

    color:#3366cc;

    margin-bottom:10px;

}

/* 履歴の詳細 */
.history-detail{

    font-size:30px;

    margin-bottom:25px;

}

/* 削除ボタン */
.delete-area{

    text-align:right;

}

.delete-area input{

    width:120px;

    height:45px;

    background:#e74c3c;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

.delete-area input:hover{

    background:#c0392b;

}

/* 戻るボタン */
.back-button{
    display:inline-block;
    margin-bottom:25px;
    padding:10px 20px;

    background:#4a90e2;
    color:white;

    text-decoration:none;
    border-radius:8px;

    font-weight:bold;
}

.back-button:hover{
    background:#357abd;
}

/* 履歴がない場合の表示 */
.no-history{
    background:white;
    border-radius:12px;
    padding:50px;
    text-align:center;

    font-size:30px;
    color:#666;

    box-shadow:0 5px 12px rgba(0,0,0,.15);
}